h4 <strong>Incomplete</strong>
ul#incompletes.todoList.inompleteList
    each val in todos
        if !val.completed
            include todoItem.pug

h4 <strong>Complete</strong>
ul.todoList.completedList
    each val in todos
        if val.completed
            include todoItem.pug
