h4 <strong>Incomplete</strong>
br
ul#incompletes.todoList.inompleteList
    if todos.length
        each val in todos
            if !val.completed
                include todoItem.pug
    else
        p No todos yet.

br

h4 <strong>Complete</strong>
br
ul#completes.todoList.completedList
    if todos.length
        each val in todos
            if val.completed
                include todoItem.pug
    else
        p No completed todos.