li.todoItem.field.has-addons
    .control
        button.button.toggleBtn
            i.far.fa-square
    .control.is-expanded
        button.nameBtn.button.is-fullwidth= val.todo_name
    .control
        button.button.deleteBtn(todoId=`${val.id}`)
            i.fas.fa-times
