.container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#newTodoField {
    width: 400px;
}

.nameBtn {
    justify-content: flex-start;
}

.todoItem {
    width: 400px;
    margin-bottom: 4px !important;
}